body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #abc66a;
  color: #000;
  font-size: 88%;
  padding: 0;
  margin: 0;
}
#wrap {
  background-color: #abc66a;
  width: 940px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
}
/*************************** HEADER *************************************************/
#organizatori {
  height: 40px;
}
#header {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 160px 0 0 20px;
  margin: 0;
  position: relative;
  height: 100px;
  color: #fff;
  background: #ffffff url("../images/trencianske-teplice-park.png") top right no-repeat;
  font-family: Georgia, serif;
}
#header h1 {
  margin: 0;
  font-size: 3.6em;
  text-shadow: 7px 7px 7px #000;
}
#header p {
  font-size: 1.3em;
  font-weight: bold;
  margin: 5px 0 0 0;
  text-shadow: 2px 2px 2px #000;
}
#header > a,
a:active,
a:visited,
a:hover {
  background: transparent;
  text-decoration: none;
  color: #fff;
}
/*************************** NAVI *************************************************/
#navi {
  background: #384d05;
  font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
#navi ul {
  margin: 0;
  padding: 0 0.5em 0 0;
  position: relative;
}
#navi li {
  float: left;
  display: block;
  list-style-type: none;
  border: none;
}
#navi a {
  display: block;
  padding: 12px 15px 12px 15px;
  min-width: 35px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 0.1em;
  /*0.2*/
  color: #eeefb5;
  text-decoration: none;
  font-weight: bold;
}
#navi a:hover {
  background-color: #7b992e;
  color: #fff;
}
#navi iframe {
  margin: 12px 0 0 0;
}
/*************************** CONTENT *************************************************/
#contentwrap {
  background: #fff;
  min-height: 35em;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
#content {
  padding: 15px 50px 30px 50px;
  background: #fff;
  text-align: justify;
  font-size: .9em;
  width: 578px;
  float: left;
  line-height: 1.5em;
}
#content a,
#content a:active {
  text-decoration: underline;
  color: #384d05;
  background-color: inherit;
  padding: 0;
  margin: 0;
}
#content a:visited {
  color: #aa5a00;
}
#content a:hover {
  text-decoration: none;
}
h2 {
  text-align: left;
  padding: 1em 0 0 0;
  margin: 0 auto;
  font-size: 1.6em;
  font-weight: normal;
  letter-spacing: 0.04em;
}
h3 {
  text-align: left;
  padding: 1em 0 0 0;
  margin: 0 auto;
  font-size: 1.3em;
  letter-spacing: 0.04em;
  /*0.1*/
}
#content ul {
  padding: 0;
  list-style-type: none;
}
#content ul.normal {
  padding: 0.5em 0 1em 2em;
  list-style-type: disc;
}
#content li {
  padding: 0.5em;
}
#content .smallnavi {
  font-size: 0.8em;
  color: #333;
}
#content .smallnavi a {
  /*color: @navi-blue;*/
  color: #333;
}
#content .oldprice {
  text-decoration: line-through;
  font-size: 0.9em;
  color: #333;
}
table {
  margin-top: 1em;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  text-align: left;
}
th {
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 0.3em;
}
td {
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  padding: 0.3em;
}
.program td {
  width: 38px;
  width: 16%;
}
.program td + td {
  width: 41%;
}
.program tr.emph {
  background-color: #eeefb5;
}
.program tr.emphday {
  background-color: #abc66a;
}
#content .program a {
  text-decoration: none;
}
.recnik {
  margin-bottom: 2em;
}
.recnik img {
  float: left;
  margin: 5px 10px 0 0;
}
.submissionbox {
  border-bottom: 1px solid #abc66a;
  padding-top: 1em;
  padding-bottom: 1em;
}
.submissionbox p {
  margin-top: 0;
  margin-bottom: 3px;
}
.submissionbox strong {
  color: #7b992e;
}
/************************** panel_right ***********************************/
#panel_right {
  background: #fff;
  width: 250px;
  float: left;
  padding: 0 10px 0 0;
  font-size: 0.9em;
}
#panel_right h3 {
  color: #384d05;
  text-align: center;
  margin: 5px 0 10px 0;
  padding: 0;
  font-size: 1.2em;
  border-bottom: 1px solid #384d05;
}
#panel_right a,
#panel_right a:active,
#panel_right a:visited {
  color: #333;
  font-weight: normal;
}
#panel_right a:hover {
  text-decoration: underline;
  color: #666;
}
.contentrightbox {
  border: 1px solid #eee;
  margin: 30px 0 10px 0;
  padding: 0 10px 0 10px;
  color: #000;
}
.logo {
  float: left;
}
.logo2 {
  width: 140px;
  float: left;
}
.org {
  font-size: 1em;
  width: 155px;
  float: left;
  padding: 10px 0 0 10px;
}
.spons {
  font-size: 0.8em;
  width: 75px;
  float: left;
  padding: 10px 0 0 10px;
}
/**************************** social buttons ************************************/
#social {
  margin-top: 0.5em;
  float: right;
}
.socbutton {
  width: 8em;
  padding: 1px 0 0 0;
  float: left;
}
/*************************** FOOTER a ostatne ************************************/
#footer {
  font-size: 0.7em;
  color: #222;
  text-align: center;
  border-top: 1px solid #999;
  padding: 0.5em 0 0.5em 0;
}
#footer p {
  padding: 0;
  margin: 0 auto;
}
hr {
  color: #eee;
}
.clear {
  clear: both;
}
.right {
  float: right;
}
.red {
  background: inherit;
  color: #f00;
}
.padding {
  height: 20em;
}
.bigger {
  font-size: 1.1em;
}
/************** FORMS ****************************************/
fieldset {
  width: 50em;
  border: none;
  padding: 0;
  margin: 1em 0 1em 0;
}
legend {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 0.1ex;
  padding: 1em 0 1em 0;
}
label {
  width: 12em;
  display: block;
  float: left;
  padding: 0.5em 0 0.5em 1em;
  /*border: 1px solid red;*/
}
input {
  width: 25em;
  display: block;
  float: left;
}
input.button {
  width: 15em;
  font-weight: bold;
  text-align: center;
}
textarea {
  width: 30em;
  float: left;
  border: 1px solid #999;
}
.message {
  border: 1px solid #aa5a00;
  color: #aa5a00;
  padding: 1em;
  width: 43em;
}
.captchabox {
  width: 23em;
  float: left;
  margin: 1em 0 1em 0;
}
.captchabox input {
  width: 9em;
}
.captchabox p {
  margin: 0.1em;
  color: #444;
  font-size: 0.9em;
  line-height: 1.1em;
}
.notesbox {
  width: 23em;
  float: left;
  margin: 1em;
}
.notesbox textarea {
  width: 20em;
}
.notesbox p {
  margin: 0.1em;
  line-height: 1.1em;
  color: #444;
  font-size: 0.9em;
}
.alignright {
  text-align: right;
}
