body {
background: #abc66a;
color: #000;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: left;
font-size: 88%;
padding: 0;
margin: 0;
}

#wrap {
width: 940px;
padding: 0;
margin-left: auto;
margin-right: auto;
margin-top: 0;
position: relative;
}

/*************************** HEADER *************************************************/
#header {
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
padding: 160px 0 0 20px;
margin: 0;
position: relative;
height: 100px;
color: #fff;
background: #ffffff url("trencianske-teplice-park.png") top right no-repeat;
font-family: Georgia, serif;
}

#header h1 {
margin: 0;
font-size: 3.6em;
text-shadow: 7px 7px 7px #000;
}

#header p {
font-size: 1.3em;
font-weight: bold;
margin: 5px 0 0 0;
text-shadow: 2px 2px 2px #000;
}

#header > a,
a:active,
a:visited,
a:hover {
background: transparent;
text-decoration: none;
color: #fff;
}

/*************************** NAVI *************************************************/
#navi {
background: #384d05;
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
font-family: 'Trebuchet MS', 'Geneva CE', lucida, sans-serif;
}

#navi ul {
margin: 0;
padding: 0 0.5em 0 0;
position: relative;
}

#navi li {
float: left;
display: block;
list-style-type: none;
border: none;
}

#navi a {
display: block;
padding: 12px 15px 12px 15px;
min-width: 35px;
color: #eeefb5;
text-align: center;
letter-spacing: 0.1em;
text-decoration: none;
font-weight: bold;
font-s
}

#navi a:hover {
background-color: #7b992e;
color: #fff;
}

#navi iframe {
margin: 12px 0 0 0;
}

/*************************** CONTENT *************************************************/
#contentwrap {
background: #fff;
min-height: 35em;
border-left: 1px solid #aaa;
border-right: 1px solid #aaa;
}

#content {
padding: 25px 65px 25px 65px;
background: #fff;
text-align: justify;
font-size: 0.9em;
line-height: 1.5em;
}

#content a,
#content a:active {
text-decoration: underline;
color: #384d05;
background-color: inherit;
padding: 0;
margin: 0;
}

#content a:visited {
color: #aa5a00;
}

#content a:hover {
text-decoration: none;
}

h2 {
text-align: left;
margin: 1em 0;
font-size: 1.6em;
font-weight: normal;
letter-spacing: 0.04em;
}

h3 {
text-align: left;
padding: 1em 0 0 0;
margin: 0 auto;
font-size: 1.3em;
letter-spacing: 0.04em;
/*0.1*/
}

#content ul {
padding: 0;
list-style-type: none;
}

#content li {
padding: 3px 0;
}

.recnik {
margin-bottom: 2em;
}

.recnik img {
float: left;
margin: 5px 10px 0 0;
}

.submissionbox {
border-bottom: 1px solid #abc66a;
padding-top: 1em;
padding-bottom: 1em;
}

.submissionbox p {
margin-top: 0;
margin-bottom: 3px;
}

.submissionbox strong {
color: #7b992e;
}

#content .submissionbox a {
text-decoration: none;
}

#content .submissionlist a {
text-decoration: none;
font-style: italic;
font-size: 1.1em;
}

#content .logo {
float: left;
width: 270px;
text-align: center;
}

#content .org {
font-size: .9em;
width: 300px;
float: left;
padding: 10px 0 0 10px;
font-weight: bold;
color: #000;
}

#content .org:visited {
color: #333;
}

/*************************** tables ************************************/
table {
margin-top: 1em;
border-left: 1px solid #444;
border-top: 1px solid #444;
text-align: left;
}

th {
border-right: 1px solid #444;
border-bottom: 1px solid #444;
padding: 0.3em;
}

td {
border-right: 1px solid #444;
border-bottom: 1px solid #444;
padding: 0.3em;
}

.program td {
width: 12%;
}

.program td + td {
width: 43%;
}

.program tr.emph {
background-color: #eeefb5;
}

.program tr.emphday {
background-color: #abc66a;
}

#content .program a {
text-decoration: none;
}

tr.emph {
background-color: #eeefb5;
}

tr.emphday {
background-color: #abc66a;
}
/*************************** FOOTER a ostatne ************************************/
#footer {
font-size: 0.7em;
color: #222;
text-align: center;
border-top: 1px solid #999;
padding: 0.5em 0 0.5em 0;
}

#footer p {
padding: 0;
margin: 0 auto;
}

hr {
color: #eee;
}

.clear {
clear: both;
}

.right {
float: right;
}

.red {
background: inherit;
color: #f00;
}

.padding {
height: 20em;
}

.bigger {
font-size: 1.1em;
}

.alignright {
text-align: right;
}

.left {
float: left;
}
