/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
#galleryWrapper {
    background-color: #FFF;
    margin: 20px auto;
    padding: 3px;
		width: 600px;
}

#galleryListWrapper {
    /* NULL */
}
/* -------------------------------------------------------------------------- */
/* -----| GALLERY LIST |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryList {
    margin: 0;
    padding: 0 4px;
}

#galleryList li {
    display: inline-block;
    float: left;
    list-style: none;
    margin: 5px 6px;
    padding: 0;
}

#galleryList li a {
    background-color: #fff;
    border: 4px solid #7b992e;
    display: block;
    padding: 1px;
}

#galleryList li a:hover {
    border-color: #DA8600;
}

#galleryList li a img {
    border: none;
}

/* -------------------------------------------------------------------------- */
/* -----| GALLERY FOOTER |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryFooter {
    background-color: #fff;
    color: #222;
    margin-top: 3px;
    padding: 8px;
}

#credit {
    float: right;
    font-size: .95em;
    margin: 4px 0;
}

#galleryFooter #credit a {
    color: #999;
}

#galleryFooter #credit a:hover {
    color: #DA8600;
}


/* ---------------------------------------- */
/* ----|  PAGINATION  |-------------------- */
/* ---------------------------------------- */

#galleryPagination {
    color: #000;
    float: left;
    font-size: .95em;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

#galleryPagination li {
    border: 1px solid transparent;
    display: block;
    float: left;
    list-style: none;
    margin-right: 1px;
}

#galleryPagination li:hover {
    background-color: #FFF;
}

#galleryPagination li.title {
    background: transparent url(../../page_white_stack.png) no-repeat left center;
    border: 1px solid transparent;
    font-weight: normal;
    padding: 3px 6px 3px 22px;
}

#galleryPagination li a, #galleryPagination li a:visited {
    color: #000;
    display: block;
    padding: 3px 6px;
    text-decoration: none;
}

#galleryPagination li:hover a {
    color: #000;
}

#galleryPagination li.current {
    background-color: #DA8600;
    color: #000;
    font-weight: bold;
    padding: 3px 6px;
}

#galleryPagination li.inactive {
    background-color: transparent;
    color: #999;
    border: 1px solid transparent;
    display: block;
    padding: 3px 6px;
}


/* ---------------------------------------- */
/* ----|  SYSTEM MESSAGES  |--------------- */
/* ---------------------------------------- */

#systemMessages {
    margin: 0;
}

#systemMessages li {
    background-color: #DDD;
    color: #000;
    line-height: 1.4em;
    list-style: none;
    margin-bottom: 6px;
    padding: 5px;
    text-align: center;
    text-shadow: none;
}

#systemMessages li.notice {
    background-color: #DDD;
    color: #000;
}

#systemMessages li.success {
    background-color: #070;
    color: #000;
}

#systemMessages li.error {
    background-color: #DA8600;
}


/* ---------------------------------------- */
/* ----|  MISCELLANEOUS  |----------------- */
/* ---------------------------------------- */

#errorMessage {
    background-color: #FFF;
    display: block;
    line-height: 1.4em;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#cboxWrapper {
    text-shadow: none !important;
}

#cboxCurrent {
    display: none !important;
}

#cboxTitle {
    font-size: 1em !important;
}
