<h2>Kognícia a umelý život 2015</h2>
<p><strong>25.–28. 5. 2015</strong></p>
<p><strong>Hotel Flóra, Trenčianske Teplice</strong></p>

<p>Konferencia KUZ je vedecké interdisciplinárne podujatie s mnohoročnou tradíciou, ktoré vytvára priestor na prezentáciu výsledkov práce odborníkov z Českej a Slovenskej republiky zaujímajúcich sa o rôzne aspekty a metódy skúmania kognície, či už v živých alebo umelých systémoch. </p>

<p>Vítané sú príspevky z relevantných kognitívnych disciplín ako sú filozofia, kognitívna psychológia, umelá inteligencia, lingvistika, neurovedy, kognitívna antropológia a ďalšie. Cieľom konferencie je podnietiť odborné diskusie, hľadať styčné body a oblasti spolupráce v tejto dynamicky sa rozvíjajúcej interdisciplinárnej oblasti poznávania. </p>

<p>Príďte sa pozrieť na toto aktívne fórum, či už s príspevkom alebo bez neho.</p>
