<h2>Hotel Flóra, Trenčianske Teplice</h2>
<br/>
<a href="http://hotelflora.sk/"><img src="images/hotelflora.jpg"/></a>
<p>Kúpeľné mesto Trenčianske Teplice sa nachádza v západnej časti Slovenska, 15 km severovýchodne od krajského mesta
    Trenčín. Leží na úpätí pohoria Strážovské vrchy, v údolí rieky Teplička, v nadmorskej výške 272 m n. m. V roku 2012 bola
    dokončená kompletná rekonštrukcia kúpeľného námestia v centre mesta.</p>
<p>Wellness a liečebný Hotel Flóra sa nachádza sa v centre kúpeľného a kultúrneho diania mesta, vedľa kúpeľného parku a
    kúpeľnej dvorany. Od termálnych bazénov je vzdialený 300 m, od železničnej stanice 400 m a od autobusovej stanice 600 m. Na požiadanie
    zabezpečuje pre svojich hostí transfer.
</p>
<p>Viac informácií nájdete na <a href="http://hotelflora.sk/">stránke hotela Flóra</a>.</p>

<!-- weather widget -->
<a href="http://www.accuweather.com/en/sk/trencianske-teplice/300942/current-weather/300942" class="aw-widget-legal"></a>
<div id="awtd1425332095445" class="aw-widget-36hour"  data-locationkey="300942" data-unit="c" data-language="en-us" data-useip="false" data-uid="awtd1425331929471" data-editlocation="false"></div>
<script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>


