<ul>
    <li><strong><a href="http://ciencialova.zam.slu.cz/kognice2014/" title="Kognice a umělý život XIV (2014)">Kognice a umělý život XIV (2014)</a></strong><br />
        26. - 30. 5. 2014, Zaječí, ČR</li>

    <li><strong><a href="http://cogsci.fmph.uniba.sk/kuz2013/" title="Kognícia a umelý život XIII (2013)">Kognícia a umelý život XIII (2013)</a></strong><br />
        27.–30. 5. 2013, Stará Lesná, Vysoké Tatry, SR</li>

    <li><strong><a href="http://www.kuz.cvut.cz/" title="Kognice a umělý život XII (2012)">Kognice a umělý život XII (2012)</a></strong><br />
        26.5. - 29.5. 2012, Průhonice u Prahy, ČR</li>

    <li><strong><a href="http://math.chtf.stuba.sk/KUZXI/" title="Kognícia a umelý život XI (2011)">Kognícia a umelý život XI (2011)</a></strong><br />
        4.4. – 7.4. 2011, Smolenice, SR	</li>

    <li><strong><a href="http://ui.fpf.slu.cz/kuz-x/" title="Kognice a umělý život X (2010)">Kognice a umělý život X (2010)</a></strong><br />
        31.5. – 4. 6. 2010, Ostravice, ČR</li>

    <li><strong><a href="http://dai.fmph.uniba.sk/events/kuz2009/" title="Kognícia a umelý život IX (2009)">Kognícia a umelý život IX (2009)</a></strong><br />
        1.6. – 4.6. 2009, Stará Lesná, SR</li>

    <li><strong><a href="http://cogscience.cuni.cz/kuz2008/index.html" title="Kognice a umělý život VIII (2008)">Kognice a umělý život VIII (2008)</a></strong><br />
        26.5. - 29.5. 2008, Praha, ČR</li>

    <li><strong><a href="http://hilbert.chtf.stuba.sk/KUZVII/" title="Kognícia a umelý život VII (2007)">Kognícia a umelý život VII (2007)</a></strong><br />
        28.5. - 31.5. 2007, Smolenice, SR</li>

    <li><strong><a href="http://www.cs.cas.cz/kuz/info.html" title="Kognice a umělý život VI (2006)">Kognice a umělý život VI (2006)</a></strong><br />
        28.5. – 1.6. 2006, Třešť, ČR</li>

    <li><strong><a href="http://hilbert.chtf.stuba.sk/KUZVII/" title="Kognícia a umelý život V (2005)">Kognícia a umelý život V (2005)</a></strong><br />
        30.5. - 2.6. 2005, Smolenice, SR</li>

    <li><strong><a href="http://ui.fpf.slu.cz/KUZIV/info.htm" title="Kognice a umělý život IV (2004)">Kognice a umělý život IV (2004)</a></strong><br />
        26.5. – 30.5. 2004, Hradec nad Moravicí, ČR</li>

    <li><strong><a href="http://neuron.tuke.sk/calci2003/" title="Kognícia a umelý život III (2003)">Kognícia a umelý život III (2003)</a></strong><br />
        15.5. - 17.5. 2003, Stará Lesná, SR</li>

    <li><strong><a href="http://math.chtf.stuba.sk/smolenice/index_III.htm" title="Kognice a umělý život II (2002)">Kognice a umělý život II (2002)</a></strong><br />
        13.5. – 16.5. 2002, Milovy, ČR</li>

    <li><strong><a href="http://math.chtf.stuba.sk/smolenice/index.htm" title="Kognícia a umelý život I (2001)">Kognícia a umelý život I (2001)</a></strong><br />
        15.3. - 17.3. 2001, Smolenice, SR</li>
</ul>