<div class="contentrightbox">
    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_linkedin_large' displayText='LinkedIn'></span>
    <span class='st_blogger_large' displayText='Blogger'></span>
</div>

<div class="contentrightbox">
    <h3>Viac z konferencie</h3>
    <p><strong>*Novinka*</strong> <a href="fotogaleria">Fotogaléria</a></p>
    <p><a href="prispevky">Zoznam príspevkov</a></p>
    <p><a href="ucastnici">Zoznam účastníkov</a></p>
    <p><a href="programKUZ15.pdf">Program na stiahnutie (pdf)</a></p>

</div>

<div class="contentrightbox">
    <h3>Organizátori</h3>
    <a href="http://cogsci.fmph.uniba.sk/sskv">
        <div class="org">Slovenská spoločnosť pre kognitívnu vedu</div>
        <div class="logo"><img src="images/logosskv.png" height="60"/></div>
        <div class="clear"></div>
    </a>
    <a href="http://cogsci.fmph.uniba.sk/">
        <div class="org">Centrum pre kognitívnu vedu na FMFI UK</div>
        <div class="logo"><img src="images/fmfi.jpg" width="60"/></div>
        <div class="clear"></div>
    </a>
</div>

<div class="contentrightbox">
    <h3>Sponzori</h3>
    <a href="http://www.nuabi.cz/">
        <div class="logo2"><img src="images/nuabi.gif" height="48" width="136"/></div>
        <div class="spons">Nuabi, s.r.o.</div>
        <div class="clear"></div>
    </a>
    <p style="text-align:center; font-size:.8em;">Ľudovít Malinovský</p>
</div>

<div class="contentrightbox">
    <h3>Dôležité oznamy</h3>
    <p><a href="pozvanka-kuz2015.pdf">Pozvánka na konferenciu (pdf)</a></p>
    <p><a href="pokyny">Pokyny pre autorov</a>
    <p><a href="studentskegranty">Granty pre študentov</a>
</div>

<div class="contentrightbox">
    <h3>Kontakt</h3>
    Kontakt na organizačný výbor: kuz2015[AT]lists.dai.fmph.uniba.sk
    <? include "func/socialbuttons.php";?>
</div>
