<h2>Pokyny pre autorov</h2>

<!--<p><em>Pripravuje sa</em></p>

<p>Táto časť stránky je zatiaľ v príprave. Za pochopenie ďakujeme.</p>

<p class="alignright">Organizačný výbor konferencie Kognícia a umelý život 2015</p>-->

<p>Príspevky posielajte na emailovú adresu organizačného výboru kuz2015[AT]lists.dai.fmph.uniba.sk a to vo vybranom zdrojovom formáte (LaTex, Word 97-2003) a tiež vo formáte PDF (pre kontrolu).
    Príspevky prijímame v slovenskom a českom jazyku v rozsahu 6 alebo 8 strán v tradičnom formáte KUZ. Doporučujeme použiť LaTex, hlavne v prípade, že text obsahuje veľa vzorcov.
V prípade nejasností pri použití vzorov kontaktujte Mgr. Viliama Dillingera (dillinger[AT]fmph.uniba.sk).</p>

<h3>Vzory na stiahnutie:</h3>
<ul class="normal">
    <li><a href="http://cogsci.fmph.uniba.sk/kuz2015/templates/KUZ_vzor.pdf">PDF</a></li>
    <li><a href="http://cogsci.fmph.uniba.sk/kuz2015/templates/KUZ_vzor_LaTeX.zip">LaTex</a></li>
    <li><a href="http://cogsci.fmph.uniba.sk/kuz2015/templates/KUZ_vzor_Word97-2003.zip">Word 97-2003</a></li>
</ul>

<p>Do zborníka KUZ 2015 budú zaradené len príspevky s <strong>uhradeným účastníckym poplatkom</strong> v stanovenom termíne (aspoň jeden z autorov).</p>
