<h2>Program</h2>

<p><a href="programKUZ15.pdf">Program na stiahnutie (pdf)</a></p>

<p>Podľa dní: <a href="#pondelok">pondelok 25.5.</a>, <a href="#utorok">utorok 26.5.</a>, <a href="#streda">streda 27.5.</a>, <a href="#stvrtok">štvrtok 28.5.</a></p>

<table border="0"  border="0" cellspacing="0" width="600" class="program">
    <tr class="emphday">
        <th colspan="3" id="pondelok">Pondelok 25. 5. 2015</th>
    </tr>
    <tr>
        <td>16:00 – 18:00</td>
        <td colspan="2"><strong>Registrácia</strong></td>
    </tr>
    <tr>
        <td>18:00 – 19:30</td>
        <td colspan="2"><i>Večera</i></td>
    </tr>
    <tr>
        <td>19:30 – 21:30</td>
        <td colspan="2">
            <strong>Úvodný večer</strong><br/>
            Otvorenie seminára<br/>
            <strong>J. Kelemen</strong>: Ešte jeden dôvod prečo Trenčianske Teplice<br/>
            Diskusia
        </td>
    </tr>

    <tr class="emphday">
        <th colspan="3" id="utorok">Utorok 26. 5. 2015</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;7:30 – 9:00</td>
        <td colspan="2"><i>Raňajky</i></td>
    </tr>
    <tr class="emph">
        <td>&nbsp;&nbsp;9:00 – 10:20</td>
        <td colspan="2"><strong>Blok 1</strong>: Konferenčná sála<br/>Moderátor: A. Lúčny</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:00 – 9:40</td>
        <td colspan="2">
            <a href="#hoffmann"><strong>M. Hoffmann:</strong></a>
            <a href="prispevky#hoffmann">Modelování mechanismů reprezentace těla u humanoidního robota iCub: od biologické inspirace k adaptivním a bezpečným strojům</a>
            <a href="zbornik/prispevky/hoffmann.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="hoffmann.pdf"/></a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:40 – 10:00</td>
        <td colspan="2">M. Vavrečka, K. Štěpánová, J. Vítků: <a href="prispevky#vavrecka">Robot založený na ukotveném situovaném modelu</a>
            <a href="zbornik/prispevky/vavrecka.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="vavrecka.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:00 – 10:20</td>
        <td colspan="2">I. Budinská: <a href="prispevky#budinska">Roboty s hlavou v oblakoch</a>
            <a href="zbornik/prispevky/budinska.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="budinska.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:20 – 10:40</td>
        <td colspan="2"><i>Prestávka s občerstvením</i></td>
    </tr>
    <tr class="emph">
        <td>10:40 – 12:00</td>
        <td><strong>Blok 2a</strong>: Konferenčná sála<br/>Moderátor: M. Vavrečka</td>
        <td><strong>Blok 2b</strong>: Salón<br/>Moderátor: L. Ciencala</td>
    </tr>
    <tr>
        <td>10:40 – 11:00</td>
        <td>L. Mamula: <a href="prispevky#mamula">Koncept Hayekova stroje pro řízení robotů Khepera IV</a>
            <a href="zbornik/prispevky/mamula.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="mamula.pdf"/></a></td>
        <td>P. Sosík, J. Konůpka: <a href="prispevky#sosik">Geometrické membránové systémy a modelování cytoskeletu</a>
            <a href="zbornik/prispevky/sosik.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="sosik.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:00 – 11:20</td>
        <td>P. Petrovič: <a href="prispevky#petrovic">Jazyk pre špecifikáciu pravidiel stolných hier ako základ automatického inteligentného hracieho robotického systému</a>
            <a href="zbornik/prispevky/petrovic.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="petrovic.pdf"/></a></td>
        <td>Š. Vavrečková: <a href="prispevky#vavreckova">Prostředí eko-kolonií a P kolonií</a>
            <a href="zbornik/prispevky/vavreckova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="vavreckova.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:20 – 11:40</td>
        <td>A. Lúčny: <a href="prispevky#lucny">Agentovo-orientované programovanie v perspektíve vývoja programovania</a>
            <a href="zbornik/prispevky/lucny.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="lucny.pdf"/></a></td>
        <td>M. Langer: <a href="prispevky#langer">Síla pozičních ekogramatických systémů</a>
            <a href="zbornik/prispevky/langer.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="langer.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:40 – 12:00</td>
        <td>V. Dillinger: <a href="prispevky#dillinger">Lokalizácia podstratégií modelu HABS</a>
            <a href="zbornik/prispevky/dillinger.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt=".pdf"/></a></td>
        <td>V. Kvasnička: <a href="prispevky#kvasnicka">Pohľad umelej inteligencie a kognitívnej vedy na kolektívnu pamäť</a>
            <a href="zbornik/prispevky/kvasnicka.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="kvasnicka.pdf"/></a></td>
    </tr>
    <tr>
        <td>12:30 – 14:00</td>
        <td colspan="2"><i>Obed</i></td>
    </tr>
    <tr class="emph">
        <td>14:00 – 16:00</td>
        <td colspan="2"><strong>Blok 3</strong>: Konferenčná sála<br/>Moderátor: V. Kvasnička</td>
    </tr>
    <tr>
        <td>14:00 – 14:20</td>
        <td colspan="2">V. Kůrková: <a href="prispevky#kurkova">Modelová složitost perceptronových sítí – zdánlivý paradox</a>
            <a href="zbornik/prispevky/kurkova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="kurkova.pdf"/></a></td>
    </tr>
    <tr>
        <td>14:20 – 14:40</td>
        <td colspan="2">G. Andrejková, J. Oravec: <a href="prispevky#andrejkova">Samoorganizujúce sa neurónové siete s viacerými úrovňami laterálnych váh</a>
            <a href="zbornik/prispevky/andrejkova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="andrejkova.pdf"/></a></td>
    </tr>
    <tr>
        <td>14:40 – 15:00</td>
        <td colspan="2">T. Kuzma, I. Farkaš: <a href="prispevky#kuzma">Automatická tvorba učebných plánov pre strojové učenie</a>
            <a href="zbornik/prispevky/kuzma.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt=".pdf"/></a></td>
    </tr>
    <tr>
        <td>15:00 – 15:20</td>
        <td colspan="2">M. Takáč, A. Knott: <a href="prispevky#takac">Reprezentácia epizód v pracovnej pamäti, problém viazania a vytváranie očakávaní</a>
            <a href="zbornik/prispevky/takac.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt=".pdf"/></a></td>
    </tr>
    <tr>
        <td>15:20 – 15:40</td>
        <td colspan="2">M. Otáhal, J. Vítků, P. Nahodil: <a href="prispevky#otahal">Rozšiřování kognitivních schopností: neuroimplantáty a HTM model neokortexu</a>
            <a href="zbornik/prispevky/otahal.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt=".pdf"/></a></td>
    </tr>
    <tr>
        <td>15:40 – 16:00</td>
        <td colspan="2" ><i>Prestávka s občerstvením</i></td>
    </tr>
    <tr class="emph">
        <td>16:00 – 18:00</td>
        <td><strong>Tutoriály: eye tracker, EEG</strong></td>
        <td><strong>Tutoriály: robotika</strong></td>
    </tr>
    <tr>
        <td>16:00 – 17:00</td>
        <td>Č. Šašinka a kol.: Představení Hume lab - Laboratoř pro experimentální humanitní vědy</td>
        <td rowspan="2">A. Lúčny,  P. Petrovič</td>
    </tr>
    <tr>
        <td>17:00 – 18:00</td>
        <td>I. Farkaš, B. Cimrová: EEG</td>
    </tr>
    <tr>
        <td>18:00 – 19:30</td>
        <td colspan="2"><i>Večera</i></td>
    </tr>

    <tr class="emphday">
        <th colspan="3" id="streda">Streda 27. 5. 2015</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;7:30 – 9:00</td>
        <td colspan="2"><i>Raňajky</i></td>
    </tr>
    <tr class="emph">
        <td>&nbsp;&nbsp;9:00 – 10:20</td>
        <td colspan="2"><strong>Blok 4</strong>: Konferenčná sála<br/>Moderátor: I. Farkaš</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:00 – 9:40</td>
        <td colspan="2">
            <a href="#rosipal"><strong>R. Rosipal:</strong></a> <a href="prispevky#rosipal">Systém zrkadliacich neurónov a perceptuálna modulácia kortikálnych motorických oscilácií</a>
            <a href="zbornik/prispevky/rosipal.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="rosipal.pdf"/></a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:40 – 10:00</a></td>
        <td colspan="2">O. Bečev: <a href="prispevky#becev">Jak měřit vědomí: metodologie časového určení vědomých prožitků</a>
            <a href="zbornik/prispevky/becev.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="becev.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:00 – 10:20</td>
        <td colspan="2">J. Rybár: <a href="prispevky#rybar">Paradigma ukotvenej kognície</a>
            <a href="zbornik/prispevky/rybar.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="rybar.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:20 – 10:40</td>
        <td colspan="2"><i>Prestávka s občerstvením</i></a></td>
    </tr>
    <tr class="emph">
        <td>10:40 – 12:20</td>
        <td colspan="2">Blok 5</strong>: Konferenčná sála<br/>Moderátor: J. Rybár</a></td>
    </tr>
    <tr>
        <td>10:40 – 11:00</td>
        <td colspan="2">V. Čavojová, E. Ballová Mikušková, M. Majerník: <a href="prispevky#cavojova">Kontaminovaný mindware: typy, otázky a výzvy</a>
            <a href="zbornik/prispevky/cavojova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="cavojova.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:00 – 11:20</td>
        <td colspan="2">M. Konečný: <a href="prispevky#konecny">Rozhodnutia o živote a o peniazoch: Doménové špecifickosti v efekte rámcovania</a>
            <a href="zbornik/prispevky/konecny.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="konecny.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:20 – 11:40</td>
        <td colspan="2">K. Dudeková, L. Kostovičová: <a href="prispevky#dudekova">Oscary, HDP a CRT: Efekt ukotvenia u finančných profesionálov v kontexte doménovej špecifickosti a kognitívnej reflexie</a>
            <a href="zbornik/prispevky/dudekova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="dudekova.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:40 – 12:00</td>
        <td colspan="2">L. Kostovičová, K. Dudeková: <a href="prispevky#kostovicova">Kedy platí „menej je viac“? Heuristika rozpoznania v rozhodovaní jednotlivcov a skupín</a>
            <a href="zbornik/prispevky/kostovicova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="kostovicova.pdf"/></a></td>
    </tr>
    <tr>
        <td>12:00 – 12:20</td>
        <td colspan="2">M. Jurkovič: <a href="prispevky#jurkovic">Miera črtovej všímavosti vo vzťahu ku kognitívnym zaujatostiam</a>
            <a href="zbornik/prispevky/jurkovic.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="jurkovic.pdf"/></a></td>
    </tr>
    <tr>
        <td>12:30 – 14:00</td>
        <td colspan="2"><i>Obed</i></td>
    </tr>
    <tr>
        <td>14:00 – 18:30</td>
        <td colspan="2"><i>Voľný program</i></td>
    </tr>
    <tr>
        <td>18:30</td>
        <td colspan="2"><i>Raut</i></td>
    </tr>

    <tr class="emphday">
        <th colspan="3" id="stvrtok">Štvrtok 28. 5. 2015</th>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;7:30 – 9:00</td>
        <td colspan="2"><i>Raňajky</i></td>
    </tr>
    <tr class="emph">
        <td>&nbsp;&nbsp;9:00 – 10:40</td>
        <td colspan="2"><strong>Blok 6</strong>: Konferenčná sála<br/>Moderátor: M. Takáč</td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:00 – 9:40</td>
        <td colspan="2">
            <a href="#sikl"><strong>R. Šikl:</strong></a> <a href="prispevky#sikl">Jak senzorická deprivace ovlivňuje zrakové vnímání: Případové studie pacientů s navráceným zrakem a s makulární degenerací a účastníků dlouhodobé izolační studie</a>
        </td>
    </tr>
    <tr>
        <td>&nbsp;&nbsp;9:40 – 10:00</a></td>
        <td colspan="2">V. Juřík a kol.: <a href="prispevky#jurik">Vliv typu 3D vizualizace geografických dat na přívětivost uživatelského rozhraní – psychologické aspekty</a>
            <a href="zbornik/prispevky/jurik.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="jurik.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:00 – 10:20</td>
        <td colspan="2">J. Čeněk, Č. Šašinka, T. Urbánek: <a href="prispevky#cenek">Interkulturní rozdíly ve zrakovém vnímání a metody jejich měření</a>
            <a href="zbornik/prispevky/cenek.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="cenek.pdf"/></a></td>
    </tr>
    <tr>
        <td>10:20 – 10:40</td>
        <td colspan="2"><i>Prestávka s občerstvením</i></td>
    </tr>
    <tr class="emph">
        <td>10:40 – 12:20</td>
        <td colspan="2"><strong>Blok 7</strong>: Konferenčná sála<br/>Moderátor: J. Kelemen</td>
    </tr>
    <tr>
        <td>10:40 – 11:00</td>
        <td colspan="2">M. Špajdel a kol.: <a href="prispevky#spajdel">Interferencia zrakovej a sluchovej pozornosti pri dichotickej stimulácii</a>
            <a href="zbornik/prispevky/spajdel.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="spajdel.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:00 – 11:20</td>
        <td colspan="2">V. Kundlová a kol.: <a href="prispevky#kundlova">Emergencia komunikácie v laboratóriu: Triadická interakcia</a>
            <a href="zbornik/prispevky/kundlova.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="kundlova.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:20 – 11:40</td>
        <td colspan="2">D. Kamhal: <a href="prispevky#kamhal">Prečo Wittgenstein odmietal filozofické teórie</a>
            <a href="zbornik/prispevky/kamhal.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="kamhal.pdf"/></a></td>
    </tr>
    <tr>
        <td>11:40 – 12:00</td>
        <td colspan="2">A. Svoboda: <a href="prispevky#svoboda">Umění umělého života jako cesta k parafrázi vědomí</a>
            <a href="zbornik/prispevky/svoboda.pdf"><img src="images/pdf_icon.png" width="25" height="15" alt="svoboda.pdf"/></a></td>
    </tr>
    <tr>
        <td>12:00</td>
        <td colspan="2">Ukončenie seminára</td>
    </tr>
    <tr>
        <td>12:30 – 14:00</td>
        <td colspan="2"><i>Obed</i></td>
    </tr>
    <tr>
        <td>14:00</td>
        <td colspan="2"><i>Odchod</i></td>
    </tr>
</table>

<p>Podľa dní: <a href="#pondelok">pondelok 25.5.</a>, <a href="#utorok">utorok 26.5.</a>, <a href="#streda">streda 27.5.</a>, <a href="#stvrtok">štvrtok 28.5.</a></p>

<h3>Pozvaní rečníci</h3>

<div class="recnik" id="hoffmann">
    <p><strong>Dr. Matej Hoffmann</strong>, Italian Institute of Technology, Genova</p>
    <p><small>
        <img src="https://avatars2.githubusercontent.com/u/6461061?v=3&s=460" width="100"/>
        Doktorský titul v kognitívnej robotike získal v <a href="http://www.ifi.uzh.ch/ailab.html">Artificial Intelligence Laboratory</a> na University of Zurich vo Švajčiarsku.
        V súčasnosti pôsobí na <a href="http://www.iit.it/">Italian Institute of Technology</a> v Janove ako Marie Curie Experienced Researcher.
        Zaoberá sa primárne stelesnenou kogníciou, konkrétne senzomotorickými kontingenciami a mechanizmami reprezentácie ľudského tela s využitím v kognitívnej robotike.
        Viac na <a href="https://sites.google.com/site/matejhof/home">domovskej stránke Mateja Hoffmanna</a>.
        </small></p>
    <p><small>S príspevkom: <a href="prispevky#hoffmann">Modelování mechanismů reprezentace těla u humanoidního robota iCub: od biologické inspirace k adaptivním a bezpečným strojům</a></small></p>
</div>

<div class="recnik" id="rosipal">
    <p><strong>Dr. Roman Rosipal</strong>, Ústav merania SAV, Bratislava</p>
    <p><small>
        <img src="images/roman-rosipal.jpg" width="100"/>
        Doktorský titul v informatike získal na University of Paisley, UK.
        Jeho výskum spadá do oblastí aplikovanej štatistiky, strojového učenia, a výpočtovej a kognitívnej neurovedy.
        Zaoberá sa analýzou elektrofyziologických dát (napr. EEG, EMG), modelovaním spánkového procesu, rôznych kognitívnych stavov a procesov u človeka (únava, pozornosť a iných), ako aj využitiu rozhrania mozog-počítač pri neurorehabilitácii.
        Viac na <a href="http://www.um.sav.sk/sk/oddelenie-03/roman-rosipal.html">domovskej stránke Romana Rosipala</a>.
    </small></p>
    <p><small>S príspevkom: <a href="prispevky#rosipal">Systém zrkadliacich neurónov a perceptuálna modulácia kortikálnych motorických oscilácií</a></small></p>
</div>

<div class="recnik" id="sikl">
    <p><strong>Dr. Radovan Šikl</strong>, Psychologický ústav, Akademie věd ČR</p>
    <p><small>
            <!--img src="http://www.psu.cas.cz/miranda2/export/sitesavcr/data.avcr.cz/humansci/psu-brno/people-contacts/cv/sikl/R_Sikl.jpg" width="100"/-->
            <img src="images/radek-sikl.png" width="100">
            V súčasnosti pôsobí ako vedúci oddelenia kognitívnej psychológie na <a href="http://www.psu.cas.cz/">PsÚ AV ČR</a>.
            Vo svojom výskume sa venuje vizuálnej kognícii, konkrétne rôznym aspektom vnímania priestoru, skúmaniu pacientov s navráteným zrakom,
            optickým ilúziám a ich využitiu pri skúmaní zmien vo vizuálnom vnímaní. Okrem bohatej publikačnej činnosti vydal v roku 2013  monografiu
            <a href="http://www.grada.cz/zrakove-vnimani_5770/kniha/katalog/">Zrakové vnímání</a>. Viac na <a href="http://www.psu.cas.cz/people-contacts/cv/sikl/">domovskej stránke Radovana Šikla</a>.
        </small></p>
    <p><small>S príspevkom: <a href="prispevky#sikl">Jak senzorická deprivace ovlivňuje zrakové vnímání: Případové studie pacientů s navráceným zrakem a s makulární degenerací a účastníků dlouhodobé izolační studie</a></small></p>
</div>
