<!--h2>Registrácia účastníkov</h2-->

<!--p>Registrácia účastníkov a detaily o platbe sú zatiaľ v príprave. O ich zverejnení Vás budeme včas informovať.</p>
<p class="alignright">Organizačný výbor konferencie KUZ 2015</p-->

<!--p class="smallnavi">Registrácia/<a href="#up">účastnícky poplatok</a>-->
<h2 id="up">Účastnícky poplatok</h2>

<p>Platbu treba uskutočniť prevodom na účet:<br/>
Číslo účtu: 2000750724/8330 (v SR) - použiť pri platbách v SR (v EUR)<br>
Číslo účtu: 2000750724/2010 (v ČR) - použiť pri platbách z ČR (v CZK)<br>
Názov účtu: SSKV<br>
Majiteľ účtu: Slovenská spoločnosť pre kognitívnu vedu<br>
IČO: 42416591<br>
Adresa banky: Fio banka, a.s., pobočka zahr. banky, Nám. SNP 21, 811 01 Bratislava<br>
IBAN kód: SK53 8330 0000 0020 0075 0724 (pre iné meny a medzinár. platby)<br>
SWIFT/BIC kód: FIOZSKBAXXX<br>
Variabilný symbol: pridelený pri registrácii<br>
</p>

<p>
Pri platbe je potrebné udať variabilný kód vygenerovaný pre registrácii účastníka (v prípade platby z ČR je potrebné udať tento kód v správe pre prijímateľa). Prosíme Vás do správy pre prijímateľa uviesť aj meno účastníka. Platbu treba uskutočniť prevodom, pri ktorom všetky bankové poplatky hradí príkazca (client) - t.j. spôsobom OUR.
</p>

<p>Vložné zahŕňa ubytovanie v hoteli Flóra v malebnom prostredí Trenčianskych Teplíc na 3 noci vrátane wellness, konferenčné poplatky, stravné, občerstvenie počas prestávok, slávnostnú večeru a zborník z konferencie.</p>

<table border="0"  border="0" cellspacing="0">
    <tr>
        <th>Účastnícky poplatok</th>
        <th>Do 10.4.2015</th>
        <th>Po 10.4.2015</th>
    </tr>
    <tr>
        <td>Vložné (osoba v izbe 1/1)</td>
        <td align="center">290 € (7910 CZK)</td>
        <td align="center">320 € (8730 CZK)</td>
    </tr>
    <tr>
        <td>Vložné (osoba v izbe 1/2)</td>
        <td align="center">255 € (6955 CZK)</td>
        <td align="center">280 € (7640 CZK)</td>
    </tr>
    <tr>
        <td>Študentské vložné (osoba v izbe 1/2)</td>
        <td align="center">230 € (6275 CZK)</td>
        <td align="center">250 € (6820 CZK)</td>
    </tr>
</table>

<p><small>Poznámka: Kurz CZK použitý podľa <a href="www.xe.com">www.xe.com</a> z dňa 10.3.2015, sumy sú zaokrúhlené.</small></p>
