<h2>Granty pre študentov</h2>
<p>
Organizačný výbor konferencie Kognícia a umelý život XIII v spolupráci s Nuabi, s.r.o. vyhlasuje súťaž o <strong>tri granty pre pregraduálnych študentov</strong>.
Vybraní traja mladí autori, ktorí si zaregistrujú abstrakt a pošlú nám motivačný list získajú účasť na konferencii zadarmo.
(Vybraným študentom bude uhradené študentské vložné v hodnote 230€, doprava na vlastné náklady).
</p>

<h3>Podmienky účasti:</h3>
<ul class="normal">
    <li>potvrdenie o štúdiu (I. resp. II stupeň VŠ štúdia)</li>
    <li>zaregistrovaný abstrakt (do poznámky uveďte, že žiadate o grant pre študentov)</li>
    <li>krátky motivačný list a informácie o uchádzačovi (zaslať mailom na adresu organizačného výboru)</li>
</ul>