<h2>Dôležité termíny</h2>
<p>Prihlášky príspevkov a ich abstraktov: do <strike>1. 3. 2015</strike> <strong><font color="red">6. 3. 2015</font></strong></p>
<p>Potvrdenie o zaradení príspevku: <strike>7. 3. 2015</strike> <strong>12. 3. 2015</strong></p>
<p>Zaslanie textu príspevku: do <strike>31. 3. 2015</strike> <strong><font color="red">10. 4. 2015</font></strong></p>
<p>Registrácia na konferenciu a úhrada vložného: do <strong>10. 4. 2015</strong></p>
<p>Konanie konferencie: <strong>25.–28. 5. 2015</strong> (pondelok až štvrtok)</p>
