<p><h2>Organizátori</h2></p>

Centrum pre kognitívnu vedu, Katedra aplikovanej informatiky, Fakulta matematiky, fyziky a informatiky, UK v Bratislave<br/>
Slovenská spoločnosť pre umelú inteligenciu<br/>
<!--Slovenská spoločnosť pre kognitívnu vedu<br>-->
<!--Filozoficko-přírodovědecká fakulta, Slezská univerzita v Opavě<br>-->

<p><h2>Programový výbor</h2></p>

prof. Ing. Igor Farkaš, PhD., Centrum pre kognitívnu vedu, KAI, FMFI, UK v Bratislave (<i>predseda</i>)<br>
doc. PhDr. Ján Rybár, PhD., Centrum pre kognitívnu vedu, KAI, FMFI, UK v Bratislave (<i>podpredseda</i>)<br>
prof. RNDr. Jozef Kelemen, DrSc., Ústav informatiky, FPF, Slezská univerzita, Opava<br>
prof. Ing. Vladimír Kvasnička, DrSc., Ústav aplikovanej informatiky, FIIT STU, Bratislava<br>
prof. RNDr. Peter Mikulecký, PhD., Fakulta informatiky a managementu, Univerzita Hradec Králové<br>
prof. RNDr. Jiří Wiedermann, DrSc., Ústav informatiky, AV ČR, Praha<br>
doc. RNDr. Gabriela Andrejková, CSc., Ústav informatiky, UPJŠ, Košice<br>
doc. Ing. Pavel Nahodil, CSc., Katedra kybernetiky, FEL ČVUT, Praha<br>
RNDr. Martin Takáč, PhD., Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
Mgr. Radovan Šikl, PhD., Psychologický ústav AV ČR, Brno<br>
PaedDr. Vladimíra Kurincová-Čavojová, PhD., Ústav experimentálnej psychológie, SAV, Bratislava<br>

<p><h2>Organizačný výbor</h2></p>

doc. PhDr. Ján Rybár, PhD., Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
prof. Ing. Igor Farkaš, PhD., Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
RNDr. Martin Takáč, PhD., Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
RNDr. Barbora Cimrová, PhD. Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
RNDr. Kristína Rebrová, PhD. Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava<br>
Mgr. Viliam Dillinger, Centrum pre kognitívnu vedu, KAI, FMFI UK, Bratislava

